<a href="https://colab.research.google.com/github/soniafirdous/Nested_dictionary/blob/main/Data_enteries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install faker

Collecting faker
  Downloading faker-37.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.3.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 16.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.3.0

In [2]:

from faker import Faker
import random
#Faker: Generates fake names, phone numbers, emails, etc.

# random: Helps randomly choose skills, designations, etc., from custom lists.


fake=Faker()# creates a Faker object. You’ll use fake to generate fake data.

employee_information={}

skills = ['Python', 'Java', 'C++', 'SQL', 'JavaScript', 'HTML', 'CSS']
designations = ['Software Engineer', 'Data Analyst', 'Web Developer', 'Project Manager']
companies = ['Google', 'Amazon', 'Microsoft', 'Facebook', 'Apple']


num=int(input("Enter the number of employees: "))


for i in range(num):
  employee_ID=f"EM-{i+1}"
  employee_information[employee_ID]={"name":fake.name(),
                                      "phone":fake.phone_number(),
                                      "email":fake.email(),
                                      "address":fake.address(),
                                      "Skill":[random.choice(skills)],
                                      "designation":random.choice(designations),
                                      "company":random.choice(companies),
                                      "Salary":random.randint(20000,50000),
                                       "experience":[{"Company": random.choice(companies),
                                                   "experience_Years": random.randint(1, 10),
                                                   "Skill":[ random.choice(skills)],
                                                   "Designation": random.choice(designations),
                                                   "Salary": random.randint(30000, 100000)},

                                                   {"Company": random.choice(companies),
                                                   "experience_Years": random.randint(1, 10),
                                                   "Skill":[ random.choice(skills)],
                                                   "Designation": random.choice(designations),
                                                   "Salary": random.randint(30000, 100000)  }]
                                                }
for i,( employee_ID,info) in enumerate( employee_information.items(),1):
  print(f"\nEmployee Information {i} :")
  print(f"Employee ID : {employee_ID} ")
  for key ,value in info.items():
    print(f"{key}:{value}")

employees_list=[employee_information[employee_ID] for employee_ID in employee_information]
print("All employee list : ",employees_list)

Enter the number of employees: 3

Employee Information 1 :
Employee ID : EM-1
name:Brandon Powers
phone:001-541-972-9761x092
email:normansteve@example.net
address:812 Contreras Rapid Suite 947
Port Crystalburgh, ME 92279
Skill:['SQL']
designation:Web Developer
company:Facebook
Salary:39982
experience:[{'Company': 'Google', 'experience_Years': 10, 'Skill': ['JavaScript'], 'Designation': 'Data Analyst', 'Salary': 54575}, {'Company': 'Facebook', 'experience_Years': 7, 'Skill': ['Java'], 'Designation': 'Web Developer', 'Salary': 44373}]

Employee Information 2 :
Employee ID : EM-2
name:William Acevedo
phone:(846)580-4143
email:werneredward@example.org
address:USNV Hardin
FPO AA 71988
Skill:['Python']
designation:Software Engineer
company:Facebook
Salary:49100
experience:[{'Company': 'Google', 'experience_Years': 7, 'Skill': ['CSS'], 'Designation': 'Software Engineer', 'Salary': 55455}, {'Company': 'Google', 'experience_Years': 10, 'Skill': ['Java'], 'Designation': 'Project Manager', 'Salary': 64814}]

Employee Information 3 :
Employee ID : EM-3
name:James Lewis
phone:(851)710-1697x75719
email:nicholasjohnson@example.net
address:8910 Sara Mews
Port Bryanmouth, AZ 34355
Skill:['JavaScript']
designation:Data Analyst
company:Amazon
Salary:40052
experience:[{'Company': 'Google', 'experience_Years': 9, 'Skill': ['CSS'], 'Designation': 'Web Developer', 'Salary': 46697}, {'Company': 'Microsoft', 'experience_Years': 3, 'Skill': ['CSS'], 'Designation': 'Web Developer', 'Salary': 87590}]
All employee list :  [{'name': 'Brandon Powers', 'phone': '001-541-972-9761x092', 'email': 'normansteve@example.net', 'address': '812 Contreras Rapid Suite 947\nPort Crystalburgh, ME 92279', 'Skill': ['SQL'], 'designation': 'Web Developer', 'company': 'Facebook', 'Salary': 39982, 'experience': [{'Company': 'Google', 'experience_Years': 10, 'Skill': ['JavaScript'], 'Designation': 'Data Analyst', 'Salary': 54575}, {'Company': 'Facebook', 'experience_Years': 7, 'Skill': ['Java'], 'Designation': 'Web Developer', 'Salary': 44373}]}, {'name': 'William Acevedo', 'phone': '(846)580-4143', 'email': 'werneredward@example.org', 'address': 'USNV Hardin\nFPO AA 71988', 'Skill': ['Python'], 'designation': 'Software Engineer', 'company': 'Facebook', 'Salary': 49100, 'experience': [{'Company': 'Google', 'experience_Years': 7, 'Skill': ['CSS'], 'Designation': 'Software Engineer', 'Salary': 55455}, {'Company': 'Google', 'experience_Years': 10, 'Skill': ['Java'], 'Designation': 'Project Manager', 'Salary': 64814}]}, {'name': 'James Lewis', 'phone': '(851)710-1697x75719', 'email': 'nicholasjohnson@example.net', 'address': '8910 Sara Mews\nPort Bryanmouth, AZ 34355', 'Skill': ['JavaScript'], 'designation': 'Data Analyst', 'company': 'Amazon', 'Salary': 40052, 'experience': [{'Company': 'Google', 'experience_Years': 9, 'Skill': ['CSS'], 'Designation': 'Web Developer', 'Salary': 46697}, {'Company': 'Microsoft', 'experience_Years': 3, 'Skill': ['CSS'], 'Designation': 'Web Developer', 'Salary': 87590}]}]

In [43]:
employees_list[0]["experience"][1]["Designation"]

'Web Developer'

In [44]:
employees_list[2]["experience"][1]["Designation"]

'Software Engineer'

In [45]:
employees_list[2]["experience"][1]["Salary"]

54697

In [46]:
employees_list[2]["experience"][0]["Salary"]

59893

In [48]:
employees_list[2]["experience"][1]["Skill"].append("cooking")
print(employees_list[2]["experience"][1]["Skill"])

['Python', 'cooking']

In [49]:
employees_list[2]["experience"][1]["Skill"].remove("cooking")
print(employees_list[2]["experience"][1]["Skill"])

['Python']

In [50]:
employees_list[2]["experience"][1]["experience_Years"]+=5
employees_list[2]["experience"][0]["experience_Years"]+=2
print(employees_list[2]["experience"][1]["experience_Years"])
print(employees_list[2]["experience"][0]["experience_Years"])
total_experience_years=employees_list[2]["experience"][1]["experience_Years"]+ employees_list[2]["experience"][0]["experience_Years"]
print(total_experience_years)

9
5
14

In [51]:
employee_ID=input("Enter the employee ID: ")
if employee_ID in employee_information:
  print("Employee found:")
  print(employee_information[employee_ID]["name"])
  for i ,exp in enumerate(employee_information[employee_ID]["experience"],1):
    print(f"experience for company :{i}")
    for key, value in exp.items():
      print(f"{key} : {value}")
else:
  print("Employee not found")

Enter the employee ID: EM-1
Employee found:
James Mccormick
experience for company :1
Company : Apple
experience_Years : 4
Skill : ['JavaScript']
Designation : Web Developer
Salary : 30795
experience for company :2
Company : Apple
experience_Years : 4
Skill : ['Java']
Designation : Web Developer
Salary : 64417

In [52]:
employee_ID=input("enter  ID :")
if employee_ID in employee_information:
  for exp in (employee_information[employee_ID]["experience"]):
    print(exp["Skill"])
print("all skill: ",exp["Skill"],employee_information[employee_ID]["Skill"])

enter  ID :EM-1
['JavaScript']
['Java']
all skill:  ['Java'] ['Python']

In [53]:
employee_ID=input("enter  ID :")
if employee_ID in employee_information:
  for exp in (employee_information[employee_ID]["experience"]):
    print(exp["Designation"])
print("all designation: ",exp["Designation"],employee_information[employee_ID]["designation"])

enter  ID :EM-1
Web Developer
Web Developer
all designation:  Web Developer Project Manager

In [22]:
employee_ID=input("enter ID :")
if employee_ID in employee_information:
  for exp in employee_information[employee_ID]["experience"]:
    print(exp["Salary"])
print("all salary: ",exp["Salary"],employee_information[employee_ID]["salary"])

enter ID :EM-1
34088
63664
all salary:  63664 27159

In [19]:
employee_ID=input("enter ID :")
if employee_ID in employee_information:
  for  exp in employee_information[employee_ID]["experience"]:
    print("company salary:",exp["Salary"])
  print("current_slary:",employee_information[employee_ID]["Salary"])
#   for exp in employee_information[employee_ID]["experience"]:
#     total_exp_salary=sum(exp["Salary"])
# total_salary=employee_information[employee_ID]["Salary"]+exp["Salary"]
# print("total salary:",total_salary)

enter ID :EM-1
company salary: 54575
company salary: 44373
current_slary: 39982

In [22]:
employee_ID=input("enter ID :")
if employee_ID in employee_information:
  total_exp_salary=0
  print("for companies salary")
  for exp in employee_information[employee_ID]['experience']:
    print("company salary:",exp["Salary"])
    total_exp_salary+=exp["Salary"]
  current_salary=employee_information[employee_ID].get("Salary")
  print("current salary: ",current_salary)
  total_salary=total_exp_salary + current_salary
  print("total salary (experience+current)",total_salary)

enter ID :EM-1
for companies salary
company salary: 54575
company salary: 44373
current salary:  39982
total salary (experience+current) 138930

In [23]:
employee_ID=input("enter ID:")

if employee_ID in employee_information:
  print("Employee found:")
  print(employee_information[employee_ID]["name"])

enter ID:EM-1
Employee found:
Brandon Powers

In [35]:
employee_ID=input("enter ID:")
good_salary=[]
bad_salary=[]
if employee_ID in employee_information:
  if employee_information[employee_ID]["Salary"]>40000:
    good_salary.append(employee_information[employee_ID]["Salary"])
  else:
    bad_salary.append(employee_information[employee_ID]["Salary"])

  for exp in employee_information[employee_ID]["experience"]:
    if exp["Salary"]>5000:
      good_salary.append(exp["Salary"])
    else:
      bad_salary.append(exp["Salary"])
      print("no good salary")
print("good salary :",good_salary)
print("bad salary :",bad_salary)

enter ID:EM-1
good salary : [54575, 44373]
bad salary : [39982]